* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


.btn {
background-color: #fafafa;
padding: 10px 20px 10px 20px;
border: 1px solid black;
border-radius: 4px; 
}

.btn:active{
    background-color: pink;
}


h1 {
    display: flex;
    justify-content: center;
    font-size: 3rem;
    text-transform: uppercase;
    color: #333333;
}